.mma-qtype-gapfill-container {

    /* the gap where answers are dropped/keyed in */
    input[type=text]{
        border:1px solid black;
        margin-top:1px;
        margin-bottom:1px;  
        background:white;
        color:black;
        border-radius:4px;
        display:inline;
        height:inherit;
    }
    
    /*.gapfill-item-howto{
        margin-top:4px;
    }&/

    .droptarget{
        text-align:center;  
    }

    /**
    When an answer is picked the shadows
    should make it look a bit like it has been
    pressed in */
    span.draggable.answers.picked{
        /*a very light grey */
        background:#F8F8F8;
        -moz-box-shadow:    -1px -1px 1px  rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: -1px -1px 1px  rgba(119, 119, 119, 0.75);
        box-shadow:         -1px -1px 1px  rgba(119, 119, 119, 0.75);
    }

    span.draggable.answers.notpicked{
        /*only used as a marker */
    }

    span.draggable.answers{
        vertical-align: middle;
        display: inline-block;
        margin: 2px;
        cursor: pointer;
        border:solid 1px;
        padding-left:4px;
        padding-right:4px;
        background:white;
        z-index: 3;
       
        -moz-box-shadow: 2px 2px 2px #000;
        -webkit-box-shadow: 2px 2px 2px #000;
        box-shadow: 2px 2px 2px #000;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }


    .incorrectresponse{
        background-color: #f7d0d0;
        color: #b71c1c;
        text-decoration: line-through;
        border-radius:0.25em;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        border:solid thin black;
        display:inline;
        white-space:nowrap;
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    }
    /* for non selected correct words */
    .correct{
        background-color: #EEEE22;
        border-radius:0.25em;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        border:solid thin;
        white-space:nowrap;
    }

    .correctresponse{
        background: #9dd8bb;
        color: #255c41;
        border-radius:0.25em;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        border:solid thin black;
        display:inline;
        white-space:nowrap;
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    }
    .gapfilltable td{
        border:solid;
        border-width:thin;
        padding:4px;
    }
    .gapfilltable th{
        border:solid;
        border-width:thin;
        background-color: lightgray;
    }
    .gapfilltable caption{
        border-bottom:solid;
        border-width:thin;
    }
    .gapfilltable-col{
        background-color: lightgray;
    }
    .gapfilltable-row{
        background-color: lightgray;
    }
}
