<section class="list mma-qtype-gapfill-container gapfill_body" ng-if="question.text || question.text === ''">
    <div class="item item-text-wrap">
          <p ng-if="!question.readonly && question.isdragdrop" class="mm-info-card-icon item item-icon-left"><i class="icon ion-information"></i> {{ 'mm.question.howtodraganddrop' | translate }}</p>
          <p><mm-format-text  ng-onhold="clearGap($event)" ng-dblclick="clearGap($event)" ng-click="selectAnswer($event)" watch="true" class="mm-content-with-float qtext" component="{{component}}" component-id="{{componentId}}">{{ question.text }}</mm-format-text></p>
           <p class="mm-question-feedback-container" ng-if="option.feedback"><mm-format-text watch="true" component="{{component}}" component-id="{{componentId}}">{{ option.feedback }}</mm-format-text></p>
    </div>
</section>